//theme config
$PRIMARYCOLOR : #fff;
$SECONDARYCOLOR : #ccc;
$TEXTDARK : #333;
$TEXTDARKER : #000;
$TEXTLIGHT : #666;
$TEXTLIGHTER : #999;
$FONTFAMILY : arial;
$BORDERDARKER : #ccc;
$BORDERLIGHTER : #eee;
$LINKCOLOR : #005aaa;

// order status color codes
$RECEIVEDSTATUS :#5cc3f2;
$PREPARINGSTATUS : #f8bd23;
$READYTOSERVESTATUS:#74dc90;

//header gradient
$HEADERGRADIENT : linear-gradient(to right, #2c3945, #0e2e48);
