<!-- header starts -->
<div class="header">
  <img class="banner-image" src="../assets/images/logo.png" title="" alt="pizza">
  <span class="fa fa-user-circle-o user-icon"></span>
</div>
<!-- header ends -->
<!-- body starts -->
<div class="body">
  <router-outlet></router-outlet>
</div>
<!-- body ends -->
<!-- footer starts -->
<div class="footer">
  <span>Copyright 2020 © Pizza Hut Pvt. Ltd. All Rights Reserved.</span>
</div>
<!-- footer ends -->
<!-- loader starts -->
<div class="text-center loader" style="display: none">
  <div class="spinner-border" role="status">
  </div>
  <span class="loading">Loading...</span>
</div>
<!-- loader ends -->